.private-wrapper {
  @apply flex w-full relative overflow-x-hidden flex-nowrap;
}

.sidebar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-left: 0px;
  @apply w-full h-screen overflow-y-scroll transition-all duration-500;
  @apply border-r-2 border-gray-100;
}

.sidebar-active {
  margin-left: -100%;
}

.main-content-slide {
  margin-right: 100%;
}

.main-content {
  margin-right: -100%;
  @apply w-full bg-white-1 transition-all duration-500;
}

.right-sidebar {
  margin-right: -100%;
  @apply absolute w-4/5 right-0 top-0 bottom-0 bg-white shadow-xl border border-gray-200 rounded-l-2xl;
  @apply transition-all duration-500;
}

.right-sidebar-active {
  margin-right: 0% !important;
  @apply transition-all duration-500;
}

@screen sm {
  .sidebar-active {
    margin-left: 0px !important;
  }

  .main-content-slide {
    margin-right: 0px !important;
  }
  .sidebar {
    margin-left: 0px !important;
    @apply w-1/2 ml-0;
  }

  .main-content {
    @apply w-1/2;
  }

  .right-sidebar {
    margin-right: -70%;
    @apply w-1/2;
  }
}

@screen md {
  .sidebar-active {
    margin-left: 0px !important;
  }

  .main-content-slide {
    margin-right: 0px !important;
  }
  .sidebar {
    margin-left: 0px !important;
    @apply w-2/5 ml-0;
  }

  .main-content {
    @apply w-3/5;
  }

  .right-sidebar {
    margin-right: -70%;
    @apply w-2/5;
  }
}

@screen lg {
  .sidebar-active {
    margin-left: 0px !important;
  }

  .main-content-slide {
    margin-right: 0px !important;
  }
  .sidebar {
    margin-left: 0px !important;
    @apply w-1/4 ml-0;
  }

  .main-content {
    @apply w-3/4;
  }

  .right-sidebar {
    margin-right: -70%;
    @apply w-1/4;
  }
}

.sidebar::-webkit-scrollbar {
  display: none;
}
